

{% extends 'base.html' %}

{% block title %} Perfil {% endblock %}

{% load static %}

{% block content %}

<main class="main-profile">
    <section class="profile">
        <div class="profile-img">
            <img src="{% static 'img/profile-pic.jpg' %}" alt="">
        </div>    
        <div class="profile-info">
            <h2>Hola, soy Tatiana Angarita</h2>
            <p>
                There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by injected humour, 
                or randomised words which don't look even slightly believable. 
            </p>
        </div>           
    </section>
    <section class="project-container">
        <h3>Proyectos</h3>
        {% for project in projects %}
        <div class="project">
            <h4>{{ project.title }}</h4>
            <p>
                {{ project.desc }}
            </p>
        </div>
        {% endfor %}
    </section>
</main>

{% endblock %}